
.foto{
    border-top-radius: 1.5rem;
    object-fit: cover;
    width: 250px;
    height: 350px;
    margin: 0 0 5px;
    padding: 2px;
}

h3, p{
    margin: 0.3rem;
}

.verMas{
    text-decoration: none;
}

