.navBar{
    height: 90px;
    background-color: #252422;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    color: #FFFCF2;
}

.navBar > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding-left: 0;
}

.navBar > ul > li > .botones{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFCF2;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    border: 0px;
    transition: 0.5s;
}

.navBar > ul > li > .botones:hover{
    /* background-color: white; */
    color: #EB5E28;
    cursor: pointer;
}

.navBar > ul > li > img {
    width: 80px;
}